[Unit]
Description=VEyage first-boot network setup (interactive)
After=veyage-firstboot.service
Before=networking.service getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
TTYReset=yes
TTYVHangup=yes
TimeoutStartSec=infinity
ExecStart=/usr/local/sbin/veyage-network-init

[Install]
WantedBy=networking.service
